<h5>Course Details.</h5>

<ol class="list-group list-group-numbered">
  <li class="list-group-item">Python- Duration : 6 month -fees:5000 INR</li>
  <li  class="list-group-item">Java- Duration : 6 month -fees:10000 INR</li>
  <li  class="list-group-item">c#- Duration : 4 month -fees:4000 INR</li>
  <li  class="list-group-item">Php- Duration : 2 month -fees:9000 INR</li>
  <li  class="list-group-item">Angular- Duration : 3 month -fees:7000 INR</li>
</ol>
 <button type="button" class="btn btn-danger" (click)="close()" >Close</button>